In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(2, 22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

あるデータ型だけが独自に持っている関数のことを，メソッドと呼びます。

In [5]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [6]:
address = 'Tokyo,Japan'
address.split('T')

['', 'okyo,Japan']

In [7]:
address.index('T')

0

In [8]:
address.index('p')

8

indexは文字を検索して、何文字目かを調べる。なければエラー。

In [9]:
address.upper()

'TOKYO,JAPAN'

In [10]:
address.lower()

'tokyo,japan'

In [11]:
（オプショナル）(0.1).as_integer_ratio()

SyntaxError: invalid character in identifier (<ipython-input-11-af5f410a0153>, line 1)

In [12]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [13]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [14]:
date_a.year

2008

In [15]:
date_a.month

1

In [16]:
date_a.day

1

In [17]:
date.today()

datetime.date(2017, 5, 17)

In [18]:
from datetime import *
date_a = date(1997, 5, 12)
date_b = date(2017, 5, 17)
result = date_b - date_a
print(result)

7310 days, 0:00:00

問題４０

問題４１はできず

In [28]:
date_c=date(2000,5,5)